<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Denim Dans</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

        <body>
                <div id="container" class="cols">
                    <h1 class="hidden">Denim Dans</h1>
                    <header id="mainHeader" class="rows">
                            <nav id="mainNav">
                                <h2 class="hidden">Main Navigation</h2>
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#ideas">Ideas</a></li>
                                </ul>
                            </nav>
                    </header>
                    </div>
                    
    <main>
    
        	
		<div id="sections">
			<section id="home">
                    <h2 class="hidden">home</h2>
				<div id="topH" class="cols"></div>
					<video autoplay loop controls id="video">
						<source src="images/video.mp4" type="video/mp4">
                    </video>
                    </section>
                    </div>

                    <div id="socialHead" class="cols">
						<a href="https://www.facebook.com/"><img id="fb" src="images/p_fb.svg" alt="facebook"></a>
						<a href="https://www.instagram.com/"><img id="inst" src="images/p_instagram.svg" alt="instagram"></a>
						<a href="https://www.twitter.com/"><img id="twi" src="images/p_twitter.svg" alt="twitter"></a>
                    </div>
                    
                    <section id= "about">
                    <h2 class="hidden">about</h2>
                    <div class="logo"><img src="images/diy_logo.svg.png" alt="DIY Network Logo"></div>
                    <p id="tagline">Keep Calm & DIY </p>
                    <p id="intro">DIY Network is for all the Denim DIY maniacs. Take your old pair of jeans and start DIYing.</p>
                </section>
                    
    </main>

    <section id="ideas">
        <h2 class="hidden">ideas</h2>
            
            <a href="https://www.youtube.com/watch?v=yJEBv7xxJ8I"><img src="images/1.jpg" alt="fray Jeans Hems" id="Img1" class="ideasImg"></a>
            <a href="https://www.youtube.com/watch?v=H7Qpu4vwtc8"><img src="images/2.jpg" alt="ripped jeans" id="Img2" class="ideasImg"></a>
            <a href="https://www.youtube.com/watch?v=AxQKvYDxX-8&t=46s"><img src="images/3.jpg" alt="bleach washed jeans" id="Img3" class="ideasImg"></a>
            <a href="https://www.youtube.com/watch?v=sRyUWguSV_4"><img src="images/4.jpg" alt="side starpped jeans" id="Img4" class="ideasImg"></a>
            
    </section>

    <footer id="mainFooter">
        <h3>© Copyright DIY Network 2019</h3>
        <a href="#">Privacy Policy</a>
        <img src="images/diy_logo.svg.png" alt="diy network logo">
    </footer>

<script src="js/main.js"></script>
</body>
</html>